<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <aside class="left-sidebar">
        <nav class="menu">
            <ul>
                <li><a href="{{ url_for('index') }}" class="{% if request.endpoint == 'index' %}active{% endif %}">Home</a></li>
                <li><a href="{{ url_for('all_posts') }}" class="{% if request.endpoint == 'all_posts' %}active{% endif %}">Posts</a></li>
                <li><a href="{{ url_for('users') }}">Users</a></li>
            </ul>
        </nav>
    </aside>

    <section class="content">
        {% block content %}
        {% endblock %}
    </section>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
